
body{
    margin: 0;
}
.container{
    height: 100vh;
    overflow: hidden;
}
.titleArea{
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: brown;
    height: 80px;
    width: 100%;
    margin-top: 0px;
}
.titleArea h1{
    font-family: fantasy;
    color: beige;    
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.form form p{
    color: rgb(190, 73, 52);
    font-size: 18px;
}
.range{
    display: flex;
}


/*from labels and boxes */
.range .from{
    display: flex;
    padding: 30px;
}
.range .from .fromLabel {
    margin-right: 20px;
}
.range .from .fromReq{
    color: #59675F;
}
.range input{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid rgb(199, 132, 123);
    border-radius: 4px;    
}


/*to labels and boxes */
.range .to{
    display: flex;
    padding: 30px;
}
.range .to .toLabel {
    margin-right: 20px;
}
.range .to .toReq{
    color: #59675F;
}

/*button Do It */
.doItButton{
    text-align: center;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.doItButton button {
    background-color: rgb(158, 45, 41);
    color: aliceblue;
    border: none;
    cursor: pointer;
    width: 25%;
    height: 35px;
    font-family: fantasy;
    font-size: 18px;
}
.doItButton button:hover {
    background-color: rgb(134, 36, 33);
}


/*results section starts here*/
/* divider */
hr.rounded{
    border: 2px solid rgb(190, 73, 52);
}
#showResults{
    text-align: center;
    margin-top: 40px;
}
.showResultsInstructions{
    visibility: hidden;
}
.results #showResults2{
    font-weight: bolder;
    color: #e63b35;
    text-align: center;
    margin-top: 40px;
}
.results #showResults3{
    color: rgb(66, 53, 51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin-top: 40px;
}

/* table */
.resultsTable {
    display: flex;
    justify-content: center;
}  
#resultsTableID {
    margin: 40px auto;
}    
.resultsTable td {
    width: 10%;
    border-radius: 10px;
    background-color: rgb(158, 45, 41);
    text-align: center;
    padding: 18px;
    cursor: pointer;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.resultsTable td:hover{
    background-color: rgb(134, 36, 33);
}
#resultsTableID td.selected{
    outline: 3px solid rgb(0, 0, 0);
    outline-offset: -5px;
}

/* Calculation */
.calculations{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculations .calculationForm{
    text-align: center;
    position: relative;
}
.addOutput,
.mulOutput{
    min-width: 10pc;
    height: 30px;
    border-bottom: solid rgb(0, 0, 0) ;
    border-width:0px 0px 0.5px 0px;
    margin-left: 25px;
    font-size: 20px;
    text-align: center;
}
.addOutput:focus,
.mulOutput:focus{
    outline: none;
}   
.addition,
.multiplication{
    margin: 20px;
}

.addition #Add,
.multiplication #Mul{
    width: 20pc;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: rgb(158, 45, 41);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
}

.addition #Add:hover,
.multiplication #Mul:hover{
    background-color: rgb(134, 36, 33);
}
.calculationForm .buttons{
    position: relative;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-bottom: 50px;
}
.calculationForm .buttons button{
    cursor: pointer;
    padding-inline: 60px;
    background-color: #f3f1f1;
    height: 25px;
    border: none;
    color: rgb(204, 40, 40);
    font-weight: bold;
    font-size: 14px;
    transition: transform .2s ease-in-out;
    margin-top: 30px;
}
.calculationForm .buttons button:hover{
    transform: scale(1.05);
    border: 0.5px solid rgb(204, 40, 40) ;
}

/*Alert Box*/
.blurry{
    filter: blur(2px);
}
.alertBox {
    background-color: #ffffff;
    width: 40%;
    padding: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 9999;
}
.alertMessage {
    font-size: 18px;
    color: rgb(187, 58, 36);
}
.close{
    height: 40px;
    width: 80px;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    color: rgb(192, 48, 12);
    font-weight: bold;
    font-size: 18px;
}
